<link rel="stylesheet" type="text/css" href="/media/libs/editor/mooeditable/Assets/MooEditable/MooEditable.css">
<script type="text/javascript" src="/media/libs/editor/mooeditable/Demos/assets/mootools.js"></script>
<script type="text/javascript" src="/media/libs/editor/mooeditable/Source/MooEditable/MooEditable.js"></script>
<script type="text/javascript">
    window.addEvent('domready', function () {
        var mooeditable = $('textarea-1').mooEditable();
    });
</script>
<style>
    #textarea-1 {
        display: block;
        min-width: 500px;
        width: 90%;
        height: 300px;
    }
    input[type="text"]{
        line-height: 30px;
        height: 30px;
        min-width: 500px;
        width: 90%;
        font-size: 20px;
        display: block;
    }
    input[type="submit"]{
        bottom: 15px;
        right: 15px;
        height: 30px;
        line-height: 30px;
        width: 100px;
        text-align: center;
        border: none;
        color: white;
        background: #00897b;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    }
    input[type="submit"]:hover {
        text-shadow: 0 0 5px white;
        box-shadow: 2px 2px 6px rgba(0,0,0,0.5) inset;
        cursor: pointer;
    }
    form>* {
        margin-bottom: 10px;
    }
    select {
        font-size: 16px;
        padding: 5px;
    }
    label[for="image"]{
        margin-left: 20px;
    }
    form {
        position: relative;
    }
    form>span.error {
        position: absolute;
        right: 50px;
        font-weight: bold;
    }
</style>
<form action="/post/add" method="post" enctype="multipart/form-data">
    {% if error is defined %}
        <span class="error">{{ error }}</span>
    {% endif %}
    <label for="header">Header</label>
    <input type="text" name="header" id="header" value="{{ values ? values.header : '' }}">
    <label for="categories">Choose category</label>
    <select name="category" id="categories">
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
    <label for="image">Post header background</label>
    <input type="file" id="image" name="image" accept="image/*">
    <textarea name="text" id="textarea-1">{{ values ? values.text : '' }}</textarea>
    <input type="submit" value="ADD">
</form>
